<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons color="primary" slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="flex flex-col main-div">
    <span class="font-28 text-weight-700">Select Dates</span>

    <div class="flex flex-col flex-center date-preview mt-12">
      <span class="font-13">Departure</span>
      <span class="font-16 mt-5" *ngIf="departureDate !== ''"> {{departureDate | date }}</span>
      <span class="text-medium font-16 mt-5" *ngIf="departureDate ==''"> MMM DD, YYYY</span>
    </div>

    <ion-datetime class="mt-20 calendar-div"  [(ngModel)]="selectedDate" #datetime presentation="date" [min]="dateNow" (ionChange)="dateChanged(datetime.value)"></ion-datetime>

    <!-- <ion-calendar [format]="'YYYY-MM-DD'"> </ion-calendar> -->
  </div>
</ion-content>


<div class="mb-20 ml-20 mr-20">
  <ion-button color="primary" (click)="next()" size="large" expand="full" shape="round">
    <span *ngIf="!isLoading">Next</span>
    <ion-spinner name="dots" *ngIf="isLoading"></ion-spinner>
  </ion-button>
</div>
