<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons color="primary" slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col">
    <span class="font-28 text-weight-700">What’s your email?</span>
    <span class="font-12 text-medium mt-5">Enter the email address you’d like to use to continue</span>
    
    
      <ion-input 
        [(ngModel)]="email" 
        type="email"
        class="for-email mt-30 ion-invalid ion-touched" 
        label="Email Address"
        labelPlacement="floating"
        errorText="Invalid format. Please enter a valid email address"
        email
    
        fill="outline" ></ion-input>
      <!-- <span *ngIf="hasError">Oppps may error</span> -->

  </div>

 
</ion-content>

<div class="mb-20 ml-20 mr-20">
  <ion-button color="primary" (click)="submitEmail()" size="large" expand="full" shape="round">
    <span class="font-16" *ngIf="!isLoading">Continue</span>
    <ion-spinner class="font-45" name="dots" *ngIf="isLoading"></ion-spinner>
  </ion-button>
</div>


