<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons color="primary" slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col mt-20">
    <img class="flex self-center logo" src="assets/imgs/logo.png" alt="">
    <span class="text-weight-700 font-24 flex self-center mt-10">It’s time to GalaGO!</span>
    
    <div>
      <ion-input
        [ngClass]="{'error-password': hasError}"
        [(ngModel)]="password" 
        [type]="typeConfig"
        class="for-password mt-30" 
        label="Password" 
        label-placement="floating"
        fill="outline" ></ion-input>
      <span (click)="togglePasswordShow()" class="passwordToggle font-13 ">{{ showPassword ? 'Hide' : 'Show'}}</span>
      <span *ngIf="hasError" class="err-msg"> <ion-icon name="alert-circle-outline"></ion-icon> Invalid login details. Please try again. </span>
      <!-- <ion-text *ngIf="hasError" color="danger" >Oppps may </ion-text> -->
   </div>

   <div class="flex flex-col mt-10">
    <ion-button [color]="password !== '' ? 'primary' : 'medium' " (click)="submitPassword()" [disabled]="password == ''" size="large" expand="full" shape="round">
      <span *ngIf="!isLoading">Continue</span>
      <ion-spinner name="dots" *ngIf="isLoading"></ion-spinner>
    </ion-button>
    <span class="mt-20 flex self-center">Forgot Password?</span>
  </div>

  </div>
</ion-content>
