<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons color="primary" slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col">
    <span class="font-28 text-weight-700">Create an Account</span>
    <span class="font-13 text-medium mt-5">Takes less than a minute to complete this!</span>
  </div>

  <div class="flex flex-col fields-input">

      <ion-input 
        class="mt-25" 
        label="First Name" 
        label-placement="floating"
        fill="outline" ></ion-input>
    
      <ion-input 
        class="mt-10" 
        label="Middle Name (Optional)" 
        label-placement="floating"
        fill="outline" ></ion-input>
    
      <ion-input 
        class="mt-10" 
        label="Last Name" 
        label-placement="floating"
        fill="outline" ></ion-input>
        <span class="font-13 text-medium mt-10">Make sure it matches the name on your passport or any valid government IDs. </span>

      <ion-input
        type="date"
        class="mt-24" 
        label="Birthday (Jan 01, 1990)" 
        label-placement="floating"
        fill="outline" ></ion-input>
        <span class="font-13 text-medium mt-10">To create an account, you need to be at least 18. Your birthday won’t ve shared with other people who use GalaGO! </span>

      <ion-input 
        disabled
        class="mt-24" 
        label="Email Address" 
        label-placement="floating"
        fill="outline" ></ion-input>
        <span class="font-13 text-medium mt-10">We wil email you booking confirmations and receipt </span>

      <ion-input 
        class="mt-24"
        type="password"
        label="Password" 
        label-placement="floating"
        fill="outline" ></ion-input>
        <span class="font-13 text-medium mt-10">At least 8 alpha numeric characters with at least 1 upper case and 1 special character </span>

      <ion-input 
        class="mt-24"
        type="password"
        label="Confirm Password" 
        label-placement="floating"
        fill="outline" ></ion-input>

      
      <div class="flex flex-row mt-24">
        <div class="flex flex-2 mr-5">
          <ion-input
            label="Country" 
            label-placement="floating"
            fill="outline" ></ion-input>
        </div>
        <div class="flex flex-5">
          <ion-input 
            label="Mobile Number" 
            label-placement="floating"
            fill="outline" ></ion-input>
        </div>
      </div>

      <div class="mt-30">
        <ion-button size="large" expand="full" shape="round" fill="solid" color="primary">Create an Account</ion-button>
      </div>


  </div>

 

 

</ion-content>
