.icon-menu{
    background: rgba(1, 110, 127, 0.10);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    img{
        width: 32px;
        height: auto;
    }

    span{
        font-family: Satoshi;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; 
        height: 36px;
    }
}