  ion-content {
    --padding-bottom: 10px;
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-top: 20px;
  }

  .main-div{
    margin-top: -24px;;
  }

  ion-input.flights-input .label-text-wrapper.sc-ion-input-md{
   margin-top: -3px;
  }


  ion-button{
    --border-radius: 12px;
    text-transform: none;
    --border-color: #D9D9D9;
    --color: #333;
    --border-width: 1px;
  }

  .flights-input ion-input, .date-input ion-input {
    --border-radius: 12px;
    --border-width: 1px;
    --background: #fff;
    // --color: var(--ion-color-dark-tint)
    // --highlight-color-valid: red;
     --placeholder-color: #ddd;
     --placeholder-opacity: 0.6;
     --border-color: var(--ion-black-300)
  }

  .sc-ion-input-md-h{ //label or placeholder
    --color: var(--ion-black-200);
    font-size: 14.5px;
    font-weight: 100;
  }

  .has-value.sc-ion-input-md-h{ //value of input  
    --color: var(--ion-black-100);
    --placeholder-color: red;
    --highlight-color-valid: red;
    // .label-text-wrapper {
    // }
  }
  

  .date-input ion-input {
    --padding-start: 40px;
    // --padding-bottom: 30px;
  }

  .interchange{
    position: absolute;
    right: 0;
    margin-top: 60px;
    z-index: 100;
    margin-right: 54px;
    --border-radius: 50%;
    width: 48px;
    height: 48px;

    span {
      font-size: 28px;
      color: #fff;
      position: fixed;
    }
  }

  .date-input {
    span{
      position: absolute;
      margin-top: 18px;
      z-index: 100;
      margin-left: 12px;
      font-size: 20px;
      color: var(--ion-color-primary);
    }
  }

  
ion-button{
  --border-radius: 10px;
  text-transform: none;
}

.footer-btn{
  position:absolute;
  bottom: 10;
}