<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button fill="clear" [routerLink]="['/home']" class="skip-button" color="primary"> Skip </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content >

  <div class="flex flex-col flex-center mt-50 ">
    <span class="flex font-22 text-weight-700">Login or Sign up</span>
    <span class="flex font-13 lighter-text mt-6">Get ready to start your journey</span>
  </div>

  <div class="flex flex-col login-btns mt-50">
    <ion-button fill="outline" class="mb-10 font-16 text-weight-700"> 
      <img src="assets/icon/google-icon-2x.png" alt="">
      <span> Continue with Google </span> 
    </ion-button>

    <ion-button fill="outline" class="mb-10 font-16 text-weight-700"> 
      <!-- <span name="logo-ionic" class="login-icons custom-icon-fb"></span> -->
      <img src="assets/icon/facebook-icon-2x.png" alt="">
      <span> Continue with Facebook </span>
    </ion-button>

    <ion-button fill="outline" class="mb-10 font-16 text-weight-700">
      <img src="assets/icon/apple-icon-2x.png" alt="">
      <span> Continue with Apple </span>
    </ion-button>

    <div class="mt-10 mb-20">
      <span class="flex flex-center">or</span>
    </div>

    <ion-button [routerLink]="['/login-email']" fill="outline" class="mb-10 font-16 text-weight-700">
      <img src="assets/icon/email-icon-2x.png" alt="">

      <span> Continue with Email </span>
    </ion-button>
  </div>

  <div class="footer-text flex flex-center">
    <p class="font-13 text-center">By continuing, you confirm you’ve read and agree 
      to our <span class="text-primary">Terms & Conditions </span> and <span class="text-primary">Privacy Policy</span> </p>
  </div>


</ion-content>
