ion-button.skip-button {
    text-transform: none;
    text-decoration: underline;
}

.login-btns{
    margin: auto;
    width: 90%;

    ion-button {
        height: 50px;
        text-transform: none;
        --border-width: 1px;
        --border-radius: 12px;
    }

    ion-button:nth-child(1) img { //google
        width: 24px;
    }

    ion-button:nth-child(2) img{ //facebook
        width: 24px;
    }

    ion-button:nth-child(3) img{ //apple
        width: 18px;
        left: -3px;
    }

    ion-button:nth-child(5) img{ //email
        width: 20px;
        left: -3px;
    }

    img{
        height: auto;
        position: absolute;
        left: -5px;
    }

}
  
.footer-text{
    position: absolute;
    bottom: 50px;
    margin-left: 10vw;
    margin-right: 10vw;
}