ion-content {
    --padding-bottom: 10px;
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-top: 20px;
  }

  .main-div{
    margin-top: -24px;;
  }


  ion-input.for-search{
    --background: #fff;
    --border-color: #D9D9D9;
    --border-radius: 20px;
    --border-width: 1px;
    --placeholder-color: #ADADAD

  }