<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons color="primary" slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="flex flex-col main-div">
    <span class="font-28 text-weight-700">Flying {{type}}</span>

    <ion-input 
      type="search"
      class="for-search mt-17" 
      label="Country, city or airport" 
      label-placement="floating"
      [value]="location"
      fill="outline" ></ion-input>

      <span class="font-12 mt-24">Nearby Airports</span>

    <div>
      <ion-list>
        <ion-list-header lines="inset">
          <ion-label class="font-16">Manila</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label class="ml-12 font-13" (click)="setLocation('MNL')"> <b class="text-primary">MNL</b> - Ninoy Aquino International</ion-label>
        </ion-item>
        
      </ion-list>
    </div>

  </div>
  
</ion-content>
