ion-content {
    --padding-bottom: 10px;
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-top: 20px;
  }

  .main-div{
    margin-top: -24px;;
  }

  .stub{
    border: 1px solid grey;
    padding: 10px;
  }

  .search-result-div{
    // background-color: #d9d9d9;
  }